<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512927286856-cotbaci0c4103jb3d3qacetu59gp7t7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512927286856-cotbaci0c4103jb3d3qacetu59gp7t7t</string>
	<key>API_KEY</key>
	<string>AIzaSyATxqaA_A6tHdCFhIHZ09IlW7yPzOptr4I</string>
	<key>GCM_SENDER_ID</key>
	<string>512927286856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppTesting</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-testing-e0f10</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-testing-e0f10.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512927286856:ios:dc8ccdcfe42cb4e0c6ba7d</string>
</dict>
</plist>